body {
  background-color: #111;
  color: #949599;
  font-family: 'proxima-nova-1', 'proxima-nova-2', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4em;
  margin: 100px auto;
  width: 512px;
}

a {
  border-bottom: 1px solid #525254;
  color: #949599;
  text-decoration: none;
}

a:hover {
  color: #babfbb;
  border-color: #949599;
}

p.emphasized {
  color: #babfbb;
  font-weight: 600;
}

p.emphasized a {
  color: #babfbb;
  border-color: #5a5a5c;
  border-width: 2px;
}

img#portrait {
  border-radius: 50%;
  display: block;
  height: 256px;
  margin: 0 auto 30px auto;
  width: 256px;
}

.gallery {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  width: 110%;
  margin: 3em -5%;
}

.gallery > a {
  border-bottom: none;
  color: #717276;
}

.gallery > a:hover {
  color: #717276;
}

.gallery figure {
  margin: 0;
}

.gallery figcaption {
  font-size: 0.8em;
  line-height: 1.3em;
}

.gallery img {
  width: 100%;
}

@media screen and (max-device-width: 480px) {
  body {
    font-size: 48px;
    line-height: 64px;
    -webkit-text-size-adjust: none;
    width: 690px;
  }

  section {
    margin-bottom: 80px;
  }

  #portrait {
    height: 256px;
    margin-bottom: 80px;
    width: 256px;
  }
}
