:root {
  --rwp-background-color: #111;
  --rwp-primary-color: #949599; /* Primary text color */
  --rwp-secondary-color: #babfbb; /* Information that should be emphasized, such as links */
  --rwp-tertiary-color: #525254; /* Link underlines, captions, less important information */
}

html {
  background-color: var(--rwp-background-color);
  color: var(--rwp-primary-color);
  font-family: 'proxima-nova-1', 'proxima-nova-2', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4em;
}

body {
  margin: 2rem 1rem;
}

.container {
  margin: 0 auto;
  max-width: 512px;
  min-width: 256px;
  width: 100%;
}

a {
  border-bottom: 1px solid var(--rwp-tertiary-color);
  color: var(--rwp-secondary-color);
  text-decoration: none; /* Use bottom border as "underline" */
}

a:hover {
  color: var(--rwp-secondary-color); /* Keep link text color the same */
  border-color: var(--rwp-primary-color); /* Lighten link "underline" */
}

abbr {
  text-decoration: none;
}

em {
  color: var(--rwp-secondary-color);
  font-weight: 600;
  font-style: normal;
}

em a {
  color: var(--rwp-secondary-color);
  border-color: var(--rwp-tertiary-color);
  border-width: 2px;
}

.portrait {
  border-radius: 50%;
  display: block;
  margin: 2rem auto;
  max-width: 256px;
  min-width: 128px;
  width: 50%;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery figure {
  margin: 0.5rem 0;
}

.gallery figure:last-child {
  margin-bottom: 0;
}

.gallery figure > a {
  border-bottom: none; /* Hide link "underline" on gallery images */
}

.gallery img {
  width: 100%;
}

.gallery figcaption {
  color: var(--rwp-tertiary-color);
  font-size: 0.8rem;
}

@media screen and (min-device-width: 768px) {
  .gallery {
    flex-direction: row;
    gap: 0.75rem;

    /* Stick out a bit wider than main content column. Use negative margin to stay centered. */
    --rwp-additional-width: 10%;
    margin: 0 calc(var(--rwp-additional-width) / -2);
    width: calc(100% + var(--rwp-additional-width));
  }

  .gallery figcaption {
    font-size: 0.7rem;
    line-height: 1.4em;
  }
}
